build/
code/build/
bin/
*.exe
*.dll
*.o
*.obj
*.a
*.lib
*.pdb
*.ilk
*.log
*.out
*.so

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
*.cmake

.vs/
.vscode/

.DS_Store
Thumbs.db
CMakeLists.txt
